{{!-- views/layouts/main.handlebars: --}}
<!DOCTYPE html>
<html>
<head>
    <title>Nibble Network</title>
    <!-- Link to your CSS files -->
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{{body}}}
</body>
</html>

