{{!-- views/dashboard.handlebars: --}}
{{! This adds the navbar partial }}
{{> navbar }}

<div class="container">
    <section class="dashboard-section">
        <div class="cupboard-column">
            <h2>My Cupboard</h2>
            <!-- Cupboard contents will be dynamically loaded here -->
        </div>
        <div class="favorites-column">
            <h2>Favorite Recipes</h2>
            {{#each favoriteRecipes}}
                <a href="/recipe/{{this.id}}">{{this.title}}</a><br>
            {{/each}}
            <!-- Favorite recipes will be dynamically loaded here -->
        </div>
    </section>
</div>



