{{!-- views/dashboard.handlebars: --}}
{{! This adds the navbar partial }}
{{> navbar }}

<div class="container">
    <section>
        <div>
            <h2>My Cupboard</h2>
            <!-- Cupboard contents will be dynamically loaded here -->
        </div>
        <div>
            <h2>Favorite Recipes</h2>
            <!-- Favorite recipes will be dynamically loaded here -->
        </div>
    </section>
</div>

