{{! views/hompepage.handlebars: }}
{{> navbar }}

<div class="container mt-4">
    <h1>Welcome to Nibble Network</h1>
    <h2>Random Recipes</h2>
    <div>
        {{#each recipes}}
            <div class="mb-2">
                <img src="{{this.image}}" alt="">
                <p></p><a href="{{this.sourceUrl}}" class="text-decoration-none">{{this.title}}</a></p>
            </div>
            
        {{/each}}
    </div>
</div>



