{{! views/hompepage.handlebars: }}
{{> navbar }}

<div class="container mt-4">
    <h1>Welcome to Nibble Network</h1>
    <h2>Random Recipes</h2>
    <div>
        {{#each recipes}}
            <div class="mb-2">
                <p>{{this.title}}</p>
                <img src="{{this.image}}" alt="">
                <p></p><a href="/recipe/{{this.id}}" class="text-decoration-none">{{this.sourceUrl}}</a></p>
            </div>
            
        {{/each}}
    </div>
</div>



