{{! views/hompepage.handlebars: }}
{{> navbar }}

<div class="container mt-4">
    <h1>Welcome to Nibble Network</h1>
    <h2>Recent Recipes</h2>
    <div>
        {{#each recentRecipes}}
            <div class="mb-2">
                <a href="/recipe/{{this.id}}" class="text-decoration-none">{{this.title}}</a>
            </div>
        {{/each}}
    </div>
</div>



