{{! views/hompepage.handlebars: }}
{{! Include the navbar partial }}
{{> navbar }}

<div class="container">
    <!-- Content of the homepage goes here -->
    <h1>Welcome to Nibble Network</h1>
    <!-- Other homepage content -->
</div>
