{{! views/hompepage.handlebars: }}
{{! Include the navbar partial }}
{{> navbar }}

<div class="container">
    <h1>Welcome to Nibble Network</h1>
    <h2>Recent Recipes</h2>
    {{#each recentRecipes}}
        <div>
            <a href="/recipe/{{this.id}}">{{this.title}}</a>
        </div>
    {{/each}}
    <!-- Additional homepage content can go here -->
</div>

