{{!-- views/login.handlebars: --}}
{{> navbar }}

<div class="container">
    <form action="/login" method="POST" class="auth-form">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
    <p class="register-link">
        Don't have an account? <a href="/registration">Register here</a>
    </p>
</div>

