{{!-- views/login.handlebars: --}}
{{> navbar }}

<div class="container mt-4">
    <form action="/login" method="POST" class="auth-form">
        <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Email" required>
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
    <p class="text-center mt-3">
        Don't have an account? <a href="/registration" class="text-decoration-none">Register here</a>
    </p>
</div>


