{{!-- views/results.handlebars: --}}
{{> navbar }}

<div class="container">
    <h2>Search Results</h2>
    {{#each searchResults}}
        <a href="/recipe/{{this.id}}">{{this.title}}</a><br>
    {{/each}}
</div>
